.container{
    margin: 0 auto;
    border: 1px solid #000;
    height: 600px;
    display: flex;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.exampleModal .buscarModal .actualizarModal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
}